/* --------------------------------------START VARIABLES-------------------------------------- */
:root {
    --yellow: #faaf4f;
    --blue: #1b61d2;
    --night-blue: #001122;
    --dark-blue: #31708e;
    --olive-green: #687864;
    --light-blue: #8fc1e3;
    --gray-white: #f7f9fb;
}
/* --------------------------------------END VARIABLES-------------------------------------- */
.quiz-app {
  margin: 20px auto;
  width: 800px;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}
.quiz-app .quiz-info {
  display: flex;
  background-color: #fff;
  padding: 20px;
}
.quiz-app .quiz-info .category {
  flex: 1;
}
.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}
.quiz-app .quiz-area {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
}
.quiz-app .quiz-area h2 {
  margin: 0;
}
.quiz-app .answers-area {
  background-color: #fff;
  padding: 0 20px 20px;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.quiz-app .submit-button {
  background-color: var(--night-blue);
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px auto;
}
.quiz-app .submit-button:focus {
  outline: none;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: #0075ff;
}
.quiz-app .results span {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  display: block;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 30px;
  border-radius: 50%;
}
.quiz-app .results span.bad {
  background-color: #dc0a0a;
}
.quiz-app .results span.good {
  background-color: #009688;
}
.quiz-app .results span.perfect {
  background-color: var(--yellow);
}

.show-ans {
    margin: 40px 0 30px;
    text-align: center;
}

.show-ans .btn_Show {
  cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--night-blue);
    padding: 20px 40px;
    border: none;
}

.truAns p {
    text-align: center;
    margin-bottom: 20px;
}