/* --------------------------------------START VARIABLES-------------------------------------- */
:root {
    --yellow: #faaf4f;
    --blue: #1b61d2;
    --night-blue: #001122;
    --dark-blue: #31708e;
    --olive-green: #687864;
    --light-blue: #8fc1e3;
    --gray-white: #f7f9fb;
}
/* --------------------------------------END VARIABLES-------------------------------------- */
.main_page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);;
    gap: 30px;
}
.main_page .content .quize {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}


/* """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""Button */
.main_page .content .quize a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid var(--yellow);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.main_page .content .quize a::before,
.main_page .content .quize a::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

.main_page .content .quize a:hover {
  border-color: transparent;
}

.main_page .content .quize a::before {
  left: -10px;
  background: #240046;
 }
 
 .main_page .content .quize a::after {
  right: -10px;
  background: #5a189a;
 }
 
 .main_page .content .quize a:hover::before,
 .main_page .content .quize a:hover::after {
  width: 58%;
 }
 
 .main_page .content .quize a:hover h1 {
  color: #ffff;
  transition: 0.3s;
 }
 
 .main_page .content .quize a h1 {
  color: var(--yellow);
  font-size: 18px;
  transition: all 0.3s ease-in;
 }